:root{
    --main-color: #701411;
    --color1: #181010; /*Color secundario*/
    --color2: #b38f61; /*color contraste*/
    --color3: #aeb643;
    --color4: #78beb3;
    --color5: #;
    --color6: #;
    --color7: #;
    --header-background-img: url(media-sources/fondo.jpg);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.disable{
    
}
.main-header{
    display: flex;
    background: var(--header-background-img);
    background-size: cover;
    background-position: center;
    height: 100vh;

    .pedir-delivery, .otras-acciones{
        z-index: 10;
        position: absolute;
        display:inline-block;
        background-color: red;
        top: 5px;
        transition: top 0.3s ease-out;
        height: 5vh;
        aspect-ratio: 1/1;
    }
    .pedir-delivery{
        right: 5px;
    }
    .otras-acciones{
        left: 5px;
    }

    .logo, .title{
        position: absolute;
        display:inline-block;
        background-color: red;
        left: 50%;
    }
    .logo{
        top: 48%;
        transform: translate(-50%, -50%);
        height: 20vh;
        width: auto;
    }
    .title{
        top: calc(50% + (100vh * 0.1));
        transform: translate(-50%, 0%);
        font-size: 5vh;
    }
    
}
.main-header.sticky-top {
    position: sticky;
    width: 100%;
    top: calc((100vh - 75px) * -1);
    background: linear-gradient(to top, var(--main-color) 0%, var(--color1) 8%)
}
.main-header.scrolled{
    /*FLEX*/
    justify-content: center;
    gap: 15px;
    .pedir-delivery, .otras-acciones{
        background-color: red;
        top: calc(100vh - 10px);
        transform: translateY(-100%);
        transition: top 0.3s ease-out;
    }
    .pedir-delivery{
        right: 5px;
    }
    .otras-acciones{
        left: 5px;
    }
    .logo, .title{
        display: inline-block;
        position: relative;
        background-color: red;
        top: calc((100vh - 10px));
        transform: translateY(-100%);
        left: 0;
    }
    .logo{
        height: 50px;
    }
    .title{
        height: max-content;
        font-size: 35px;
    }
}

/* BARRA DE NAVEGACIÓN */
nav.list_otras-opciones{
    position: fixed;
    padding: 5px;
    background: var(--main-color);
    height: 100%;
    width: max-content;
    padding-top: calc(5vh + 15px);
    font-size: 20px;
    /*Posición*/
    left: 0;

    li{
        list-style: none;
        padding: 15px 15px 20px 15px;
        a{
            text-decoration: none;
            color: #FFF;
            display: flex;
            align-items: center;
        }
        img{
            margin-right: 20px;
        }
    }
    li:hover{
        background-color: var(--color1);
        transition: 0.1s ease-in-out;
    }
}
nav.list_otras-opciones.disable{
    left: calc(0px - 100%);
    transition: left 0.2s ease-out;
}

